@model CreateIdentityUser
@{
    ViewData["Title"] = "Создание пользователя";
}

<h1>CreateUser</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-controller="CreateUser" asp-action="Checks">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span asp-validation-for="UserName"></span>

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

        <label asp-for="PasswordHash"></label>
        <input asp-for="PasswordHash" />
        <span asp-validation-for="PasswordHash"></span>

        <input type="submit" value="Отправить" />
    </form>
</div>



<div>
    @Html.Label("Description", "Описание")<br /> @*HTML helper*@
</div>

