@*@model IEnumerable<First_ASP.Models.User>
@{
    ViewBag.Title = "Все пользователи";
}
<table class="table">
    <tr><td>Имя</td><td>Фамилия</td><td>Возраст</td><td>Город</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Name</td><td>@item.LastName</td><td>@item.Age</td><td>@item.City</td></tr>
    }
</table>*@